.ser_content{
    margin-top: 50px;
    
}
.services{
    display: flex;
    justify-content: space-around;
   margin: 35px auto ;
    width: 40%;
    flex-wrap: wrap;
}
.services > .item{
    background-color:rgb(61, 61, 61);

    width: 160px;
    border-radius: 10px;
    min-height: 230px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.item>*{
    color: #fff;
}
.item>img{
    width: 80px;
    margin-bottom: 25px;

}
.item>p{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .services{
        width: 100%;
    }

}
.moreser{
 background-color: red;
height: 60px;
margin: auto;
margin-top: 20px;
border-radius: 20px;
width: 230px;
text-align: center;
line-height: 60px;
text-decoration: none;
cursor: pointer;
}
.moreser>a{
    color: #fff;
    text-decoration: none;
}
.hitem{
   /* visibility: hidden; */
display: none !important;
}
.hideitem{
   /* visibility: visible; */
display: none !important;
    
}

.apropos{
    margin: 60px 0px;
 
}
.text{
    width: 70%;
    margin: auto;
    text-align: justify;
     height: 145px;
    word-break: keep-all;
    overflow-y: hidden ;
    padding: 35px 0px;
    color: rgb(95, 91, 91);

}
.text_tg{
    height: 200px;
    overflow-y: scroll;
}

.titre{
text-align: center;
color: rgb(95, 91, 91);
}
.containertext{
    position: relative;
    margin-bottom: 50px;
}
.lire{
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: -25px;
text-decoration: none;
color: rgb(95, 91, 91);

}
.ser_title>h3{
    text-transform: uppercase;
}
.ser_title>p{
text-align: center;
}